@page

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>11 Reasons not to use social media</title>

    <!-- Open Sans Regular 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Open Sans SemiBold 600 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">

</head>

<style>
    * {
        background-color: black;
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif;
        color: whitesmoke;
        text-decoration: none;
    }

    body {
        margin: 20px 20px 30px 20px;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 20px 20px 0px;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
    }

    .content {
        font-size: 2.2vh;
        font-family: 'Noto Sans NKo', sans-serif;
    }

    .points {
        font-size: 2.35vh;
        margin: 30px 0px 10px 0px;
    }
</style>

<body>
    <div class="center">
        <h1> 11 reasons to Quit Social Media </h1>
    </div>
    <div class="content">
        <h4 class="points">1. It’s an Enormous Waste of Time</h4>
        <p>
            It likely doesn’t seem like it, since you only peruse the sites for a few minutes at a time, but if you
            tallied
            it
            all
            up I bet you’d be surprised how much time you spend on social media. According to new data, the average
            person
            spends
            1.72 hours per day on social media sites. Given that we’re always complaining that there isn’t enough time
            in a
            day,
            quitting social media may be a great way to free up some time. Just think what you could do with that extra
            two
            hours?
            Maybe a workout, or a fresh-cooked meal? The possibilities are endless.</p>
        </p>
        <h4 class="points">2. It Lowers Your Self-Esteem</h4>
        <p>We’ve all been victims of this. You see a Facebook post about your friend’s recent trip to Thailand and
            immediately feel a pang of jealousy, wondering if you’ll ever see the world. Or someone’s bought a beautiful
            house, and you start feeling self-conscious about the space between four walls that you call home. Not to
            mention
            engagements, babies, weddings, cars, jobs, etc. Social media provides us with endless streams of reasons to
            feel
            inadequate about ourselves and our lives, but quitting may help relieve the need to constantly compare
            against
            others; it’s difficult to be envious of someone’s new sports car when you don’t know they got one.
        </p>
        <h4 class="points">3. It’s Not the Same as Being Offline</h4>
        <p>We’ve become so obsessed with capturing all of life’s greatest moments to post on social media that we’ve
            forgotten how
            to live in the moment. I love being at concerts and watching people try to capture video of the band playing
            their
            favorite song. They’re so focused on getting a good shot and keeping their phone steady that they can’t
            enjoy
            it
            by
            singing and dancing along. And nothing buzz-kills a romantic dinner like whipping out your phone to get the
            perfect
            picture of your food. By quitting social media you’ll be allowing yourself to capture these moments with
            memory
            alone,
            and years later those rose-colored memories will be far more attractive than your blurry photo.</p>
        <h4 class="points">4. It’s Addictive and Unhealthy</h4>
        <p>Addictions of any kind aren’t healthy, and excessive social media use certainly isn’t excluded from this
            statement.
            We’ve far surpassed using it moderation, to the point where addictions centers have created treatment
            programs
            for
            those
            who are struggling. And researchers at the University of Bergen in Norway have developed the Bergen Facebook
            Addiction
            Scale (BFAS), which asks participants about their usage habits and feelings toward the social network.
            Preventing
            this
            kind of addiction, or breaking it, are perfect reasons to part ways with social media.</p>
        <h4 class="points">5. Privacy Issues</h4>
        <p>Since social media networks are all about us, the users, it’s easy to forget that the companies who run them
            are
            in it
            to make money. Every element of information that you post, ‘like’ or put in your profile becomes valuable
            information to
            the organization, which they then sell to advertisers and other third-parties. This, alone, should be enough
            reason to
            quit social media.</p>
        <h4 class="points">6. It Doesn’t Often Teach You Anything Valuable</h4>
        <p>Given the amount of time we spend each day on social media, are we actually learning anything valuable? And I
            don’t mean
            that your cousin’s baby is now eating carrots. I mean the types of things that enlighten or inform you about
            something
            new, guide you through important life decisions, or assist with personal growth and development. It’s not
            often
            that we
            come across this type of content on social media, nor is it the kind of gripping human drama that has us
            constantly
            hitting “refresh feed.” Why not quit social media and reallocate that time to quality education?</p>
        <h4 class="points">7. It Makes You More Negative</h4>
        <p>For many, social media is an outlet for all of their stresses, frustrations and heartbreaks, or a place to
            share
            their
            thoughts and feelings on the tragedies of the world. And while it may make them feel better, it certainly
            doesn’t
            relieve those who are reading it. In reading comments like this on a consistent basis, it would be hard for
            even
            the
            happiest person alive not to absorb some of the negativity. Shutting down your networking accounts will
            remove
            you
            from
            this sticky web, and help re-focus your time and energy on your own feelings.</p>
        <h4 class="points">8. It Can Damage Your Reputation</h4>
        <p>For many companies, checking the social media profiles of potential employees is part of the hiring process.
            So
            if
            you’re the type that feels compelled to post pictures from the wild house party you went to on the weekend,
            you
            should
            just quit social media while you’re ahead. Also, while it may be tempting, social media is not the place to
            air
            your
            dirty laundry or share brash opinions. Anything posted on the Internet is there forever, even after you
            delete
            it.
        </p>
        <h4 class="points">9. It Encourages Superficial Relationships</h4>
        <p>Your Facebook friend count might be at 746, but how many of them do you actually have personal relationships
            with?
            Social media allows us to feel like we know people better than we really do because we are privy to the
            photos
            and
            life
            moments that they share on their profiles. But what’s shared on social media is often a picture-perfect
            version
            of
            people’s lives, and may not necessarily reflect marriage or career struggles. Why not quit social media and
            focus
            on
            developing true friendships with a select few individuals, by connecting via phone or in person?</p>
        <h4 class="points">10. It’s an Expectation</h4>
        <p>Social media is so commonplace these days that it’s become an expectation you have a presence on the main
            networks. Even
            from a professional standpoint, many organizations expect employees to understand and use the sites as part
            of
            their
            job. But shouldn’t it be a personal choice? If you’re tired of social media or it just isn’t for you, then
            quit!
            You
            shouldn’t have to explain yourself or feel the need to conform to societal norms.</p>
        <h4 class="points">11. It’s an Escape from Reality</h4>
        <p>Social media can serve as an escape from reality because it allows individuals to present a curated version
            of
            their
            lives, to engage in fantasy and escapism, and to disconnect from the present moment and their immediate
            surroundings.
            Additionally, social media can provide an outlet for individuals to escape from difficult emotions and
            situations
            in
            their real lives.</p>
    </div>
</body>

</html>